@import url('https://fonts.googleapis.com/css2?family=Shippori+Mincho:wght@500&family=Zen+Kaku+Gothic+Antique:wght@300&display=swap');

body {
    margin: 0;
    padding: 0;
    font-family: 'Shippori Mincho', serif;
    background-color: #f8fbff;
}

.section {
    display: flex;
    background-size: cover;
}

#top {
    background-image: url('top.jpg');
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.logo {
    width: 10%;
    height: 20%;
    position: absolute;
    top: 1rem;
    left: 1rem;
}

@media screen and (max-width: 768px) {
    .logo {
        width: 20%;
        height: 15%;
        position: absolute;
        top: 1rem;
        left: 1rem;
    }
}

.slide-in {
    opacity: 0;
    transform: translateX(-100%);
    animation: slideIn 1s forwards 1s;
}

.slide-text {
    font-size: 40px;
    color: white;
    text-align: center;
}

@keyframes slideIn {
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

#about {
    background-image: url('about.png');
    justify-content: center;
    align-items: center;
}


.about-content {
    text-align: center;
    height: 100vh;
}

.about-content h1 {
    margin-top: 25vh;
    text-align: center;
    color: #ffffff;
}

.about-content h2 {
    text-align: center;
    color: #ffffff;
}

.slide-right {
    opacity: 0;
    transform: translateX(100%);
    animation: slideRight 1s forwards;
}


#congestion {
    background-color: #f8fbff;
}

.congestion-content {
    padding: 4rem 0;
    text-align: left;
    margin-left: 5vw;
}

.congestion-title {
    width: 20vw;
    border-left: 5px solid #000;
    background: #f4f4f4;
}

.congestion-image img {
    width: 50%;
    height: 100%;
    border-radius: 10px;
    margin-left: 25vw;
}

.congestion-update {
    margin-top: 1rem;
    color: #666;
    margin-left: 30vw;
}

#production {
    background-color: #f8fbff;
    width: 100%;
}

.production-content {
    padding: 4rem 0;
    text-align: left;
}

.production-title {
    margin-left: 5vw;
    width: 20vw;
    border-left: 5px solid #000;
    background: #f4f4f4;
}

.carousel-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    overflow: hidden;
    position: relative;
    margin-left: 60%;
}

.carousel-frame {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #f2f2f2;
    position: relative;
    margin-left: 3vw;
    margin-right: 3vw;
}

.carousel-frame img {
    width: 100%;
    height: 40vh;
    border-radius: 10px 10px 0 0;
}

.carousel-content {
    padding: 20px;
    background-color: rgba(242, 242, 242, 0.7);
}

.carousel-buttons {
    text-align: center;
    margin-top: 10px;
}

.prev-button,
.next-button {
    background-color: rgba(51, 51, 51, 0.7);
    color: #fff;
    border: none;
    font-size: 24px;
    padding: 8px 15px;
    cursor: pointer;
}

.prev-button {
    border-radius: 10px 0 0 10px;
}

.next-button {
    border-radius: 0 10px 10px 0;
}


#activity {
    background-color: #f8fbff;
}

.activity-content {
    padding: 4rem 0;
    text-align: left;
    margin-left: 5vw;
    width: 100%;
}

.activity-title {
    width: 20vw;
    border-left: 5px solid #000;
    background: #f4f4f4;
}


.activity-main {
    display: flex;
    align-items: flex-start;
    gap: 2rem;
}

.activity-images {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 30%;
}

.activity-description {
    flex: 1;
}


#pv {
    justify-content: center;
    align-items: center;
    color: #f8fbff;
}

.pv-title {
    width: 20vw;
    border-left: 5px solid #000;
    background: #f4f4f4;
    margin-left: 5vw;
}

.pv-video {
    max-width: 100%;
    overflow: hidden;
    border-radius: 10px;
    margin-left: 10vw;
}


#map {
    background-color: #f8fbff;
}

.map-content {
    text-align: left;
    margin-left: 5vw;
}

.map-title {
    width: 20vw;
    border-left: 5px solid #000;
    background: #f4f4f4;
}

.map-image img {
    width: 70%;
    margin-left: 10vw;
}

.map-text {
    margin-top: 1rem;
    color: #666;
    margin-left: 10vw;
}

p {
    color: black;
    text-align: center;
    font-size: 1.2em;
}

h1 {
    text-align: center;
    color: black;
    font-size: 2.5em;
    font-family: 'Shippori Mincho', serif;
}

h2 {
    text-align: center;
    color: black;
    font-size: 1.2em;
    font-family: 'Shippori Mincho', serif;
}

h3 {
    text-align: center;
    color: black;
    font-size: 1.5em;
    font-family: 'Shippori Mincho', serif;
}

a {
    color: white;
    text-decoration: none;
}

h4 {
    text-align: left;
    color: black;
    font-size: 1.25em;
    font-family: 'Shippori Mincho', serif;
}

h5 {
    text-align: center;
    color: black;
    font-size: 2.5em;
    font-family: 'Shippori Mincho', serif;
}

h6 {
    color: black;
    font-size: 1.25em;
    font-family: 'Shippori Mincho', serif;
    margin-left: 10vw;
}


span {
    color: white;
    font-size: 1.2em;
    font-family: 'Zen Kaku Gothic Antique', sans-serif;
}

#scrollToTopBtn {
    display: none;
    position: fixed;
    bottom: 30px;
    right: 30px;
    background-color: #00AEEF;
    color: white;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    width: 60px;
    height: 60px;
    text-align: center;
    font-size: 16px;
    line-height: 60px;
    z-index: 1000;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease-in-out, transform 0.3s ease-in-out;
}

#scrollToTopBtn:hover {
    background-color: #049dd5;
    transform: scale(1.1);
}

.site-footer {
    background-color: #f0f0f0;
    text-align: center;
}

.footer-content {
    max-width: 800px;
    margin: 0 auto;
}

.about-content h2 {
    text-align: left;
}

.copyright {
    display: flex;
    margin-left: 5vw;
}

/* レスポンシブ */
@media screen and (max-width: 768px) {
    .activity-title {
        width: 80%;
    }

    .activity-main {
        flex-direction: column;
        gap: 1rem;
    }

    .activity-images {
        width: 75%;
    }

    .activity-description {
        font-size: 12px;
    }

    .congestion-title {
        width: 80%;
    }
    .congestion-image img {
        width: 50%;
        height: 100%;
        border-radius: 10px;
        margin-left: 25vw;
    }

    .production-title {
        width: 80%;
    }

    .pv-title {
        width: 80%;
    }

    .map-title {
        width: 80%;
    }

    .congestion-update {
        margin-top: 1rem;
        color: #666;
    }

    .carousel-container {
        margin-left: 0%;
    }

    .carousel-frame {
        margin-left: 2vw;
        margin-right: 2vw;
    }

    .carousel-frame img {
        height: 30vh;
    }

    p {
        color: black;
        text-align: center;
        font-size: 1.2em;
    }
    
    h1 {
        text-align: center;
        color: black;
        font-size: 2.5em;
        font-family: 'Shippori Mincho', serif;
    }
    
    h2 {
        text-align: center;
        color: black;
        font-size: 0.75em;
        font-family: 'Shippori Mincho', serif;
    }
    
    h3 {
        text-align: center;
        color: black;
        font-size: 1.5em;
        font-family: 'Shippori Mincho', serif;
    }
    
    a {
        color: white;
        text-decoration: none;
    }
    
    h4 {
        text-align: left;
        color: black;
        font-size: 1em;
        font-family: 'Shippori Mincho', serif;
    }
    
    h5 {
        text-align: center;
        color: black;
        font-size: 2.5em;
        font-family: 'Shippori Mincho', serif;
    }
    
    h6 {
        color: black;
        font-size: 1.25em;
        font-family: 'Shippori Mincho', serif;
        margin-left: 10vw;
    }

    .about-content h2 {
        text-align: center;
        color: #ffffff;
        margin-left: 2vw;
        margin-right: 2vw;
    }

}
